@import './../../global/global-style.scss';
.movie-will-added-info {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 5rem;
    .name {
        display: flex;
        flex-direction: column;
        h3 {
            color: $light-gray;
            font-weight: 500;
        }
        p {
            font-weight: 600;
        }
    }
    .description {
        display: flex;
        flex-direction: column;
        h3 {
            color: $light-gray;
            font-weight: 500;
        }
        p {
            font-weight: 600;
        }
    }
}

.adding-movie-wrapper {
    p {
        font-weight: bold;
    }
    form {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1px;
        input {
            padding: 9px;
        }
        textarea {
            width: 220px;
            padding: 5px;
        }
        button {
            padding: 9px;
            background-color: #00A65A;
            color: #fff;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            &:hover {
                background-color: #33d88e;
            }
        }
    }
}